Calculator-Web-Services/CalculatorServices/WebContent/wsdl/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://calculator.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://calculator.com" xmlns:intf="http://calculator.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://calculator.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="calcOperation">
    <complexType>
     <sequence>
      <element name="oprandString" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="calcOperationResponse">
    <complexType>
     <sequence>
      <element name="calcOperationReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="calcOperationResponse">

      <wsdl:part element="impl:calcOperationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="calcOperationRequest">

      <wsdl:part element="impl:calcOperation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="calculator">

      <wsdl:operation name="calcOperation">

         <wsdl:input message="impl:calcOperationRequest" name="calcOperationRequest">

       </wsdl:input>

         <wsdl:output message="impl:calcOperationResponse" name="calcOperationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="calculatorSoapBinding" type="impl:calculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="calcOperation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="calcOperationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="calcOperationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="calculatorService">

      <wsdl:port binding="impl:calculatorSoapBinding" name="calculator">

         <wsdlsoap:address location="http://localhost:8080/CalculatorServices/services/calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
